<div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Register</h3>
      <div class="two fields">
        <div class="field">
          <label>......</label>
          <input placeholder="First Name" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text">
        </div>
      </div>
      <div class="field">
        <label>Username</label>
        <input placeholder="Username" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password">
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">I agree to the terms and conditions</label>
        </div>
      </div>
      <div class="ui blue submit button">Submit</div>
    </div>
  </div>