/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require select2
 *= require jquery.rambling.slider
 */

@import "zebra-datepicker/default";
@import "semantic-ui";

body { background-color: #f3f3f3 !important; margin:0px; }
.header_nav {
	/*background: #fafafa;*/
	background: teal;
	padding: 6px 0 10px;
	box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
	z-index: 999;
	height: 36px;
}
.header_nav nav.ui.menu {
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto !important;
	font-family: Georgia, "Times New Roman", Times, serif !important;
}
nav.ui.menu {
	width: 960px;
	padding: 6px 0;
	.item{
		color: white !important;
		.active {
			font-weight: bold !important;
			color: white;
		}
	}
}
.ui.text.menu { margin: 6px 0; }

.no_top_margin { margin-top:0; }
.no_margin { margin:0 !important; }
.no_pad { padding:0 !important; }
.no_radius { border-radius:0 !important; -moz-border-radius:0 !important; }
.hide { display:none; }
.show { display:block; }
.inline-block { display:inline-block !important; }
.right.floated { float:right; }
.full.width { width: 100% }

.main_container {
	width: 80%;
	margin: 10px auto !important;
}
.ui.white .column {
	background-color: #fff;
	box-shadow: 0px 1px 13px #888888;
}
.ui.items .item > .content > .description{ height:135px; }

.ui.items > .item{ width:230px; }
.ui.items .item > .image > img{ height:125px; }

.orange.text { color: orange; }

.ui.thin.progress { height: 10px; padding: 1px; }

i.social.icon { font-size: 3em; }
.select2-container-multi .select2-choices .select2-search-field input { min-width:105px; }

a.label { text-decoration:none; }
.ui.label { margin: 2px; }
.camplabel { font-size: 10px !important; }

ui.grid > .row > img, .ui.grid > .row > .column > img { height: 80px; width: 80px; }

.ui.celled.grid > .column:first-child, .ui.celled.grid > .row > .column.two:first-child { height: 500px; }
.column.pic { width: 0.7% !important; }

/*.ui.form { width: 300px; }*/

/*.ui.form.recap { width: 350px; } */

.full_width { width:100% !important; }
.Zebra_DatePicker_Icon_Wrapper{display:block !important;}

.new_campaign .step { cursor:default; }

#new_campaign .ui.step { font-style:italic; padding-left: 26px !important; }
#new_campaign .ui.step.active, #new_campaign .ui.step.done { font-style:normal; }
#new_campaign .ui.step.done { padding: 6px 9px; line-height: 25px; }
#new_campaign .ui.step i.checkmark.icon { display:none; float: right; }
#new_campaign .ui.step.done i.checkmark.icon { display: inline-block; }

