/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require select2
 * require jquery.rambling.slider
 */

@import "zebra-datepicker/default";
@import "semantic-ui";

body { background-color: #f3f3f3 !important; margin:0px; }
.body_container {
  background: #ddd url(/images/pattern4.jpg) repeat top left !important;
  // background: #0099cc;
  min-height:850px;
}

.theme-default #slider { height: 535px !important; }

.body_container.bg1{
    background: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.2)),-webkit-linear-gradient(108deg,#e5e9bf 10%,#00396f 90%);
    width:100%;
    height:100%;
    transition:1s width;
}
.body_container.bg2{
      background: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.2)),-webkit-linear-gradient(108deg,#e0da81,#e0a681 10%,#0f1b58 90%)
  }
.body_container.bg3{
      background: radial-gradient(circle farthest-side at right bottom,#f8cdda,#1d2b64 80%,#0e153a);
    }
.body_container.bg4{
      background:-webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
  }
.body_container.bg5 {
  background:-webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%)
}

.header_nav {
  /*background: #fafafa;*/
  /*background: teal;*/
  background: rgb(63, 83, 83);
  padding: 6px 0 10px;
  box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
  z-index: 999;
  height: 36px;
  // margin-bottom: 4px;
}
.header_nav nav.ui.menu {
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
nav.ui.menu {
  // width: 970px;
  padding: 6px 15px;
  .item{
    color: white !important;
    .active {
      font-weight: bold !important;
      color: white;
    }
  }
}
.ui.text.menu {
  margin: 6px 0;
  .active.item {
    font-weight: normal !important;
    &.dropdown:hover{
      font-weight: normal !important;
    }
    &.dropdown .item{
      color: teal !important;
    }
  }
}
.menu.category { color: teal !important; }
.paged {
  width: 1050px !important; margin: 0 auto !important; background-color: #fff !important; padding-top: 10px !important;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1); //raised segment
box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1); //raised segment
}
.devise.sign { width: 600px !important; margin: 0 auto !important; background-color: #fff !important; padding-top: 10px !important; }
// .main_container { background-color: #f3f3f3 !important; padding-top: 10px !important; }

.no_top_margin { margin-top:0; }
.no_margin { margin:0 !important; }
.no_pad { padding:0 !important; }
.left_margin { margin-left: 10px !important; }
.no_radius { border-radius:0 !important; -moz-border-radius:0 !important; }
.hide { display:none; }
.show { display:block !important; }
.inline-block { display:inline-block !important; }
.right.floated { float:right; }
.full.width { width: 100% }
.back_tealed { background-color: rgb(15, 114, 114) !important; color: white !important; }
.back_redded { color: white !important; background: #a95252 !important; }
.top_margin { margin-top: 15px !important; }
.invisible { visibility:hidden; }
.overflow_check { overflow: hidden; }

.ui.white .column {
  background-color: #fff;
  box-shadow: 0px 1px 13px #888888;
}
.ui.items .item > .content > .description{ height:135px; }

.ui.items > .item{ width:230px; }
.ui.items .item > .image > img{ height:125px; }

.orange.text { color: orange; }

.ui.thin.progress {
  height: 10px; padding: 1px;
  .bar{ display: block; }
}

i.social.icon { font-size: 3em; }
.select2-container-multi .select2-choices .select2-search-field input { min-width:105px; }

a.label { text-decoration:none; }
.ui.label { margin: 2px; }
.camplabel { font-size: 11px !important; color: purple; text-decoration: none !important; }

ui.grid > .row > img, .ui.grid > .row > .column > img { height: 80px; width: 80px; }

.ui.celled.grid > .column:first-child, .ui.celled.grid > .row > .column.two:first-child { height: 500px; }
.column.pic { width: 0.7% !important; }

/*.ui.form { width: 300px; }*/

/*.ui.form.recap { width: 350px; } */


.full_width { width:100% !important; }
.Zebra_DatePicker_Icon_Wrapper{display:block !important;}

.new_campaign .step { cursor:default; }

#new_campaign .ui.step { font-style:italic; padding-left: 26px !important; }
#new_campaign .ui.step.active, #new_campaign .ui.step.done { font-style:normal; }
#new_campaign .ui.step.done { padding: 6px 9px; line-height: 25px; }
#new_campaign .ui.step i.checkmark.icon { display:none; float: right; }
#new_campaign .ui.step.done i.checkmark.icon { display: inline-block; }

.campaign_show{
  .circular.image{
    width: 50px;
    float: left;
    border: 1px solid #ddd;
    height: 50px;
  }

  .title{
    text-align: center;
    padding-right: 51px;
  }
  .campaign_info{
    line-height: 1.8 em;
    text-align: justify;
    font-family: 'Gentium Basic';
    margin: 0 100px 30px;
  }
}
.ui.middle.aligned.grid, .ui.middle.aligned.grid > .row > .column, .ui.middle.aligned.grid > .column, .ui.grid .middle.aligned.column, .ui.grid > .middle.aligned.row > .column { vertical-align: initial; }

.transaction_form {
  margin: 0 0 32px;
  -webkit-box-shadow: 0 1px 3px #bbb;
  -moz-box-shadow: 0 1px 3px #bbb;
  box-shadow: 0 1px 3px #bbb;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));
  background: -webkit-linear-gradient(#fff,#f5f5f5);
  background: -moz-linear-gradient(#fff,#f5f5f5);
  background: -ms-linear-gradient(#fff,#f5f5f5);
  background: -o-linear-gradient(#fff,#f5f5f5);
  background: linear-gradient(#fff,#f5f5f5);
  background-color: #f8f8f8;
  border: 5px solid #fff;
  margin: 0 auto 32px;
  padding: 12px 24px 24px;
  width: 287px;
}

.cards {
  overflow: hidden;

  li {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-image: url(card_logos.png);
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    text-indent: -9999px;
    width: 51px
  }

  li:last-child { margin-right: 0 }

  .visa_electron { background-position: 204px 0 }

  .mastercard { background-position: 153px 0 }

  .maestro { background-position: 102px 0 }

  .amex { background-position: 51px 0 }

  .visa.off { background-position: 0 32px }

  .visa_electron.off { background-position: 204px 32px }

  .mastercard.off { background-position: 153px 32px }

  .maestro.off { background-position: 102px 32px }

  .amex.off { background-position: 51px 32px }
}
