/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "semantic-ui";

body { background-color: #eee !important; }
.main_container {
	width: 80%;
	margin: 10px auto !important;
}
.ui.white .column {
	background-color: #fff;
	box-shadow: 0px 1px 13px #888888;
}

.ui.items > .item{ width:280px; }
.ui.items .item > .image > img{ height:260px }

.orange.text { color: orange; }