= form_for(@transaction) do |f|
  - if @transaction.errors.any?
    #error_explanation
      h2
        = pluralize(@transaction.errors.count, "error")
        t 'transactions.form.prohibitTrans'
      ul
        - @transaction.errors.full_messages.each do |msg|
          li= msg
  .ui.form.segment
    .field
      label 
        t 'transactions.form.amountTrans'
      .ui.labeled.icon.input
        = f.text_field :amount
    .field
      = f.hidden_field :user_id
    .field
      = f.hidden_field :campaign_id
    .actions
      = f.submit 
        t 'transactions.form.submit', class: 'ui blue submit button'
